<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle8iDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="hibernate.connection.username">hr</property>
    <property name="hibernate.connection.password">hr</property>
    <property name="hibernate.current_session_context_class">thread</property>

    <mapping class="ma.fstm.ilisi2.projects.biblio.model.bo.Livre"/>
    <mapping class="ma.fstm.ilisi2.projects.biblio.model.bo.Exemplaire"/>
    <mapping class="ma.fstm.ilisi2.projects.biblio.model.bo.Emprunt"/>
    <mapping class="ma.fstm.ilisi2.projects.biblio.model.bo.Adherent"/>
  </session-factory>
</hibernate-configuration>